
dayscript_system_servers/dayscript_system_servers/settings.py
dayscript_system_servers/dayscript_system_servers/settings.pyc
dayscript_system_servers/dss/variables.py
dayscript_system_servers/dss/variables.pyc

