<div class="content-wrapper row">
    <div class="row" >
      <div class="loading" *ngIf=" !getInfoServer ">
        <img src="static/app/img/loading.gif">
        <span>please wait...</span>
      </div>
        <div class="medium-3 columns " *ngFor="#key of getInfoServer | keys">
          <div class="medium-12 columns wrapper-server">
            <h4>{{ key.value.nombre }}</h4>
            <div class="block-wrapper info-server-wrapper row columns">
              <div class="medium-12">
                <span><strong>Ip : </strong> {{ key.value.ip }} </span>
              </div>
              <div class="medium-12">
                <span>
                  <strong>Apache Sevice : </strong>
                  <span *ngIf="key.value.response.serviceapache2status != '' "><img class=" ico aprobado " src="static/app/img/aprobado58x58.png" /></span>
                  <span *ngIf="key.value.response.serviceapache2status == '' "> <img class=" ico error " src="static/app/img/error58x58.png" /> </span>
                </span>
              </div>
              <div class="medium-12">
                <span><strong>Mysql Sevice : </strong>
                  <span *ngIf="key.value.response.servicemysqlstatus != '' "><img class=" ico aprobado " src="static/app/img/aprobado58x58.png" /> </span>
                  <span *ngIf="key.value.response.servicemysqlstatus == '' "> <img class=" ico error " src="static/app/img/error58x58.png" /> </span>
                </span>
              </div>
            </div>
            <div>
              <div class=" medium-4 ">
                  <a href="server/{{key.value.id}}/service/all/command/all/show" class="small button">Detalles</a>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
